body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-54px;
  width:611px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(232, 74, 93, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:184px;
  width:139px;
  height:81px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(246, 41, 65, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0.mouseOver {
}
#u0_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(196, 32, 51, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u0.selected {
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(232, 74, 93, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:343px;
  width:139px;
  height:81px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(246, 41, 65, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1.mouseOver {
}
#u1_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:81px;
  background:inherit;
  background-color:rgba(196, 32, 51, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1.selected {
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:84px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:84px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:84px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:42px;
  width:611px;
  height:84px;
  display:flex;
  font-size:20px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_img.disabled {
}
#u2.disabled {
}
